.main {
  position: relative;
}
.main .title {
  position: absolute;
  left: 16.09375vw;
  top: 13.80208333vw;
  font-weight: bold;
  color: #3E3A39;
  font-size: 2.34375vw;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.36458333vw;
}
.main .title span:last-child {
  font-size: 1.5625vw;
  font-weight: normal;
  letter-spacing: normal;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .lsj {
  width: 63.95833333vw;
  margin-top: 5.88541667vw;
}
.content .logo {
  width: 16.14583333vw;
  height: 2.39583333vw;
  margin: 6.97916667vw auto 4.89583333vw auto;
}
.content span {
  width: 64.11458333vw;
  font-size: 0.83333333vw;
  line-height: 1.5625vw;
  color: #949594;
  text-indent: 1.66666667vw;
}
