.head {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed;
  z-index: 999; */
}
/* logo */
.logo {
  height: 33px;
}

/* 导航块 */
.head ul {
  display: flex;
  height: 100%;
}

.a_title {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 14px;
 
}
.a_title:hover{
  background-color: #234CE2;
  color: #fff;
}

.a_title p{
  margin-top: 10px;
}
.img_title {
  width: 25px;
  height: 26px;
}
.search{
  position: relative;
}
.search input {
  padding-left: 24px;
  width: 137px;
  height: 26px;
  border-radius: 13px;
  background: #234CE2;
}
.search img{  
  position: absolute;
  left: 6px;
  top: 5px;
  width: 17px;
  height: 16px;
}


.nav-btn {
  width: 30px;
  height: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.nav-btn span {
  height: 2px;
  width: 100%;
  background-color: #333;
  display: flex;
  position: absolute;
  transition: .5s;
}
.nav-btn span:nth-child(1) {
  top: 0;
  left: 0;
}

.nav-btn span:nth-child(2) {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.nav-btn span:nth-child(3) {
  bottom: 0;
  left: 0;
}
.nav-btn-active span:nth-child(1) {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.nav-btn-active span:nth-child(2) {
  opacity: 0;
}

.nav-btn-active span:nth-child(3) {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* 折叠区 */
.bs-collapse {
  width: 100%;
  display: none;
  background-color: rgb(67, 67, 67);
  /* margin-top: 125px; */
  position: absolute;
  top: 125px;
}
.collapse1-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  padding-top: 45px;
}
.collapse1-top h4{
  font-size: 16px;
  margin-bottom: 8px;
}
.collapse1-top a {
  color: #fff;
  font-size: 13px;
  line-height: 24px;
}
.collapse1-bottom {
  color: #fff;
  padding-top: 20px;
}
.collapse1-bottom div{
  text-align: center;
  display: inline-block;
}
.collapse1-bottom span {
  display: inline-block;
  font-size: 28px;
  border-bottom: 2px solid white;
  padding: 0 20px;
  margin-bottom: 10px;
}
.collapse1-bottom ul {
  display: flex;
  justify-content: space-between;
}
.collapse1-bottom a {
  color: white;
}

